! Tibor`s Xresources.

! Monitor dpi
Xft.dpi: 109

! Antialiasing
Xft.antialias: 1
Xft.autohint: 1
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! Foreground and background colours
*foreground: #ebdbb2
*background: #1d2021

! Fonts
*.font: monospace:size=10

! Emacs X11 internal borders set the same as st terminal internal borders
Emacs.internalBorder: 10
